@tailwind base;
@tailwind components;
@tailwind utilities;






@layer components {
    .field-base {
      @apply w-full p-2 text-gray-900 border border-gray-300 rounded bg-gray-50 focus:ring-blue-500 focus:border-blue-500;
    }

    .btn-base {
      @apply px-2 py-1.5 text-sm text-center rounded cursor-pointer whitespace-nowrap;
    }
}















.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.dataTables_scroll {
    display: inline-block;
    overflow: auto;
    max-height: 32rem;
    width: 100%;
}
/* .dataTables_scrollHead {
    position: absolute !important;
    background-color: #15803d;
    color: #fff;
    z-index: 1000;
}

.dataTables_scrollBody {
    margin-top: 45px;
} */

#dt-players-list_filter, .dataTables_length {
    display: none;
}
#dt-players-list_filter, .dataTables_filter {
    margin-bottom: 1.3rem;
}